{% extends 'base.html.twig' %}

{% block title %}Administravimas{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <strong>Klaida: </strong> {{ error }}
    </div>
{% endblock %}
