{% extends 'base.html.twig' %}

{% block title %}Administravimas{% endblock %}

{% block body %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    <ul class="list-group">
        {% for slot in slots %}
            <li class="list-group-item"><span class="badge">{{ slot.date|date('Y-m-d H:i') }}</span>
                {% if slot.free %}
                    <a class="btn btn-success" role="button" href="{{ path('reserve', {"time": slot.date|date('c')}) }}">
                        Laisva
                    </a>
                {% else %}
                    <span class="btn btn-warning">
                        {{ slot.name }}
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
