{% extends 'base.html.twig' %}

{% block title %}Administravimas{% endblock %}

{% block body %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(inputForm) }}
{% endblock %}
