{% extends 'base.html.twig' %}

{% block title %}Laisvi laikai{% endblock %}

{% block body %}
    <ul class="list-group">
        {% for slot in slots %}
            <li class="list-group-item"><span class="badge">{{ slot.date|date('Y-m-d H:i') }}</span>
                {% if slot.free %}
                    <a class="btn btn-success" role="button" href="{{ path('reserve', {"time": slot.date|date('c')}) }}">
                        Laisva
                    </a>
                {% else %}
                    <span class="btn btn-danger">
                        Užimta
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
